# Build outputs
/FlutterAPI/FlutterAPI/bin/
/FlutterAPI/FlutterAPI/obj/


# Config files
/FlutterAPI/FlutterAPI/appsettings.Development.json
/FlutterAPI/FlutterAPI/appsettings.json
*.user
*.suo
.env

# IDE
/.vs/
/.vscode/
/FlutterAPI/.vs/

# NuGet
/packages/
DesignTimeBuild/
CopilotIndices/
applicationhost.config

# Logs
*.log
/logs/

# Local development
/FlutterAPI/FlutterAPI/Properties/launchSettings.json
